header{
    height: 6.5rem;
    border-bottom: solid thin #333;
    .container {
        display: flex;
    }
    .logo{
        flex: 1;
        line-height: 6.5rem;
    }
    .call-to-action{
        display: flex;
        ul{
            list-style: none;
            align-self: center;
            display: flex;
            li{
                margin-right: 20px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    
    
}
